.done {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f4fcf1;
}

.logo {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.input {
  align-items: center;
  width: 200px;
  height: 37px;
  left: 80px;
  top: 207px;
  background-color: #c4e7c1;
  border-color: #548d27;
  margin-bottom: 20px;
  border-radius: 11px;
  border-style: solid;
}

.button {
  /* font-family: roboto; */
  text-align: center;
  font-size: x-large;
  /* text-decoration: none; */
  align-items: center;
  width: 124px;
  height: 43px;
  left: 119px;
  top: 371px;
  border: #548d27;
  border-style: solid;
  border-radius: 11px;
  /* transition: opacity 0.2s; */
  margin-top: 11px;
}
img {
  margin-top: 50px;
  height: 150px;
}
