.done {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f4fcf1;
}

.logo {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.input {
  align-items: center;
  width: 200px;
  height: 37px;
  left: 80px;
  top: 207px;
  background-color: #c4e7c1;
  border-color: #548d27;
  margin-bottom: 15px;
  border-radius: 11px;
  border-style: solid;
  text-shadow: 0 0 black;
}

.button {
  width: 124px;
  height: 43px;
  left: 119px;
  top: 371px;
  border: #548d27;
  border-style: solid;
  border-radius: 11px;
  margin-top: 11px;
  display: inline-block;
  padding: 0;
  align-items: center;
  box-sizing: content-box;
  font-size: 18px;
}

img {
  margin-top: 20px;
  height: 150px;
}
