.home-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  height: 58px;
  left: 0px;
  top: 0px;
  background: #93de9f;
  justify-content: space-between;
}

.home-header .home-button {
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-align: center;
  width: 90px;
  height: 40px;
  left: 50px;
  top: 8px;
  margin-right: 8px;
  background-color: #27a01d;
  border: #548d27;
  border-style: solid;
  border-radius: 11px;
  transition: filter 0.2s;
  display: inline-block;
  text-align: center;
  line-height: 33px;
}

.home-header .container {
}

.home-header img {
  height: 60px;
  display: flex;
  align-self: flex-end;
}
