.home-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  height: 58px;
  left: 0px;
  top: 0px;
  background: #93de9f;
  justify-content: space-between;
}

.home-header .home-button {
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-align: center;
  width: 90px;
  height: 40px;
  left: 50px;
  top: 8px;
  margin-right: 8px;
  background-color: #27a01d;
  border: #548d27;
  border-style: solid;
  border-radius: 11px;
  transition: filter 0.2s;
  display: inline-block;
  text-align: center;
  line-height: 33px;
}

.home-header .home-button:hover {
  background-color: #548d27;
}

.home-header .container {
  display: flex;
}

.home-header img {
  height: 60px;
  display: flex;
  align-self: flex-end;
  margin: 0;
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 11px;
  background-color: #e5e5e5;
  align-content: center;
  margin: 0;
  padding: 0;
}

.cards .card {
  display: block;
  margin: 10px;
  padding: 2rem;
  list-style: none;
  background: #c4e7c1;
  padding: 24px;
  border-radius: 8px;
  position: relative;
}

.cards .card div {
  align-items: center;
  text-align: center;
}

.home-main .home-main-button {
  color: rgb(0, 0, 0);
  text-decoration: none;
  width: 126px;
  height: 40px;
  background-color: #81d37a;
  border: #95b67c;
  border-style: solid;
  border-radius: 11px;
  transition: filter 0.2s;
  margin-top: 11px;
  display: inline-block;
  text-align: center;
  line-height: 33px;
}

.home-main {
  margin-bottom: 49px;
}

.home-main .home-main-button:hover {
  background-color: rgb(7, 200, 81);
}

.total {
  display: flex;
  background-color: #e5e5e5;
  padding-left: 11px;
}

footer {
  background-color: #0f3c38db;
  color: #fff;
  border-top: 1px solid #333;
  bottom: 0;
  left: 0;
  height: 49px;
  position: fixed;
  width: 100%;
  text-align: center;
}

.mimi {
  text-decoration: none;
  color: #6dfd93;
  font-weight: bold;
}
