.container-loading {
  position: fixed;
  top: 43%;
  left: 46%;
}

.loading {
  position: relative;
  width: 38px;
  height: 51px;
  border-radius: 50%;
  background: #8b7623;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
