:root {
  --dark-blue: #363f5f;
  --modal: #311c7a;
  --blue: #49aa26;
  --light-blue: #3dd705;
  --red: #e92929;
  --white: #fff;
  --gray: #f0f2f5;
  --table: #969cb3;
  --header: #1d4385;
  --squares: #f0f2f533;
}
